<header>
    <h1 clase="headline">
        <a>パズル</a>
    </h1>
    <ul class="nav-list">
        <li class="nav-list-item"><a href="/">Home</a></li>
        <a> | </a>
        <li class="nav-list-item"><a href="/make">make</a></li>
        <a> | </a>
        <li class="nav-list-item"><a href="/solve">solve</a></li>
    </ul>
  </header>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <footer>
    <div class="footer-menu">
      <a href="/">Home</a>
      <a> | </a>
      <a href="/make">make</a>
      <a> | </a>
      <a href="/solve">solve</a>
    </div>
    <p> @ tukepan 2020.</p>
  </footer>