<body>

  <div class="container">
    <div class="minibox-2">
      <a href="/make">パズルを作る</a>
    </div>
    <div class="minibox-3">
      <a href="/solve">パズルを解く</a>
    </div>
  </div>
</body>