<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>パズル</title>
  <link rel="stylesheet" href="/assets/css/origin.css">
</head>
<body>
  <div class="header">
    <div class="minibox-1">
      <a href="/">パズル</a>
    </div>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/make">make</a></li>
        <li><a href="/solve">solve</a></li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="minibox-2">
      <a href="/make">パズルを作る</a>
    </div>
    <div class="minibox-3">
      <a href="/solve">パズルを解く</a>
    </div>
  </div>
  <%= yield %>
</body>
</html>