<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>パズル</title>
  <link rel="stylesheet" href="/assets/css/origin.css">
</head>
<body>
  <header>
    <h1 clase="headline">
        <a>パズル</a>
    </h1>
    <ul class="nav-list">
        <li class="nav-list-item"><a href="/">Home</a></li>
        <a> | </a>
        <li class="nav-list-item"><a href="/make">make</a></li>
        <a> | </a>
        <li class="nav-list-item"><a href="/solve">solve</a></li>
        <a> | </a>
        <li class="nav-list-item"><a href="/user">login</a></li>
    </ul>
  </header>
  <%= yield %>
  <br>
  <br>
  <br>
  <footer>
    <div class="footer-menu">
      <a href="/">Home</a>
      <a> | </a>
      <a href="/make">make</a>
      <a> | </a>
      <a href="/solve">solve</a>
      <a> | </a>
      <a href="/user">login</a>
    </div>
    <p> @ tukepan 2020.</p>
  </footer>
</body>
</html>