<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>パズルを解く</title>
</head>
<body>
  <% @puzzles.each do |puzzle| %>
    <div class="make">
      <p><%= puzzle.name %></p>
        <div class="make_box">
          <div class="images">
            <% puzzle.images.shuffle.each do |image| %>
              <div class="image">
                <% unless image.img.empty? %>
                  <p><img src="<%= image.img %>"></P>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/Sortable.min.js"></script>
  <script>
    $(function() {
      Sortable.create($('.images')[0], {
        grop: "images",
        animation: 110
      });
    });
  </script>
  <script>
    $(function() {
      Sortable.create($('.images')[1], {
        grop: "images",
        animation: 110
      });
    });
  </script>
  <script>
    $(function() {
      Sortable.create($('.images')[2], {
        grop: "images",
        animation: 110
      });
    });
  </script>
  <script>
    $(function() {
      Sortable.create($('.images')[3], {
        grop: "images",
        animation: 110
      });
    });
  </script>

</body>
</html>